// Footer
footer.m_footer
  .wrapper
    .info
      .copy 2017 © СЛС.ру
      .desc Интернет-магазин по продаже стройматериалов.
    .menu
      .column
        ul
          li: a(href="#") Компания
          li: a(href="#") О компании
          li: a(href="#") Контакты
      .column
        ul
          li: a(href="#") Информация
          li: a(href="#") Условия оплаты
          li: a(href="#") Доставка
          li: a(href="#") Гарантия на товар
          li: a(href="#") Вопрос-ответ
    .contacts
      .phones
        .tel: a(href="tel:+88002000600") 8 800 2000 600
        .callback: a(class="call-popup" href="#popup-callback") Заказать звонок
      .locate
        .address Адрес: Москва, ул. Воронцовская, 20
        .email Email: <a href="mailto:info@moyka.ru">info@sls.ru</a>
      .socials
        | Мы в соц. сетях
        ul
          li: a(class="vk" href="#" target="_blank")
          li: a(class="facebook" href="#" target="_blank")
          li: a(class="twitter" href="#" target="_blank")
    .developed Разработка сайта: <a href="#" target="_blank">«Пикмедиа»</a>