.m_catalog-categories
  clearfix()
  background #fff
  box-shadow: 1px 1px 4px rgba(0,0,0,0.3);
  padding 15px
  border-radius $radius
  @media MD
    padding 30px
    padding-bottom 0
  .column
    @media XS
      padding-left 90px
    @media SM
      display inline-block
      vertical-align top
      width 49%
      padding-left 0
    @media MD
      padding-left 90px
    .lead
      position relative
      .image
        left 0
        top 0
        width 75px
        height 75px
        line-height 75px
        text-align center
        margin-bottom 10px
        border 1px solid #dcdcdc
        background #fff
        overflow hidden
        @media XS
          left -90px
          position absolute
        @media SM
          position static
        @media MD
          position absolute
        img
          display inline-block
          vertical-align middle
          max-width 100%
          max-height 100%
      .links
        padding-right 20px
        .title
          margin-bottom 10px
          a
            bold()
            color #222
            font-size 15px
            text-transform uppercase
            text-decoration underline
            &:hover
              color $red
              text-decoration none
        ul
          li
            display inline-block
            vertical-align top
            margin-right 10px
            margin-bottom 10px
            @media SM
              margin-right 5px
            a
              color #222
              text-decoration underline
              font-size 14px
              &:hover
                color $red
                text-decoration none
    .desc
      margin-top 10px
      margin-bottom 30px
      color #555555
      font-size 14px
      line-height 24px
      padding-right 20px
  &.level-2
    position relative
    .column
      @media XS
        padding-left 130px
      @media SM
        padding-left 0
      @media MD
        padding-left 130px
        padding-right 20px
      .image
        @media XS
          left -130px
      .lead
        @media XS
          padding-left 0
