// Sprite for retina
$sprite = 500px 500px

// Custom
$radius = 3px

// Colors
$yellow = #ffb400
$blue = #1377df
$red = #b70b1a

$border = #d1d9da

// Text
$text-muted = #555

// Links
$link = #2f6f9f



// Media quries
LG = "only screen and (min-width: 1200px)"
MD = "only screen and (min-width: 992px)"
SM = "only screen and (min-width: 768px)"
XS = "only screen and (min-width: 480px)"