extends ../modules/layout/layout.jade

block title
  title О компании

block content
  main
    .m_breadcrumbs
      ul
        li: a(href="#") Главная
        li: a(href="#") О компании
    .page-heading
      h2 О компании
    .main
      aside.sidebar
        .m_sidebar-nav
          ul
            li: a(class="current" href="#"): span О компании
            li: a(href="#"): span Контакты
      section.content
        article
          h2 Заголовок H2
          p.lead-paragraph В зависимости от выбора различных групп моек — различается и сложность их монтирования, внедрения в существующую мебельную обстановку, подведения к ним коммуникаций, подключения к системе водопровода и канализации. Естественно, что сложность влияет на стоимость. Ниже описаны плюсы и минусы покупки 3 основных видов:
          p Установка накладной мойки осуществляется в напольные стандартные шкафы, стоящие, как правило, отдельно, без общей столешницы. Такая конструкция сама может выполнять функцию столешницы. Материалом обычно выступает нержавейка (нержавеющая сталь). Монтаж мойки из нержавейки накладной зачастую выполняется в процессе сборки не очень дорогих мебельных гарнитуров. Среди минусов такой конструкции следует выделить попадание воды в зазоры шкафов, небольшую толщину изделий, невысокую гигиеничность в использовании. Плюсом является – невысокая стоимость установки мойки данного типа и простота ее инсталляции.
          p Установка врезной мойки цена выше по сравнению с накладным типом, однако, при этом на сегодняшний день, - эта услуга наиболее востребована, так как такие модели являются самыми популярными у хозяек. Установка мойки в столешницу происходит путем выпиливания под нее отверстия, соответствующего размерам раковины. При этом, они подходят для столешниц, которые могут быть изготовлены из абсолютно любого материала (натуральное дерево, ЛДСП, нержавейка, пластик, искусственный и натуральный камень).
          h3 Заголовок H3
          p Интегрированные класса, могут монтироваться в кухонную рабочую поверхность в разных позициях относительно ее краев, например сейчас популярен монтаж мойки под столешницу, также возможны варианты: в уровень или выше (надстольная инсталляция). Такие модели могут максимально органично вписаться в дизайн помещения. Они еще подороже предыдущих образцов.
          p При выполнении подобных работ очень часто требуется учитывать различные нюансы. Если оставить их без внимания, можно получить в качестве итога — разочарование от результата, дополнительные расходы и потребность в полной переделке всего. В данном вопросе, например, следует учитывать такие детали как: высота расположения, удаленность от плиты, доступность, надежное соединение с канализационной и водопроводной разводкой, применение в ходе процесса подходящих материалов, правильную разводку труб и многое другое.
          h4 Заголовок H4
          ul
            li В интернет-магазинах, рассчитанных на повторные покупки
            li Также ведется отслеживание возвратов песетителя и история покупок.
            li Кроме того, существуют сайты, в которых заказ принимается по телефону, электронной почте, Jabber или ICQ.
          h4 Заголовок H4
          ol
            li В интернет-магазинах, рассчитанных на повторные покупки
            li Также ведется отслеживание возвратов песетителя и история покупок.
            li Кроме того, существуют сайты, в которых заказ принимается по телефону, электронной почте, Jabber или ICQ.