extends ../modules/layout/layout.jade

block title
  title Шпаклевки

block content
  main
    .m_breadcrumbs
      ul
        li: a(href="#") Главная
        li: a(href="#") Каталог
        li: a(href="#") Шпаклевки
    .page-heading
      h2 Шпаклевки
    .m_catalog-categories.level-2
      .column
        .lead
          .image: img(src="images/content/catalog-caterogies/level-2-1.png" alt="")
          .links
            .title: a(href="#") <span class="label">Латунные</span> <span class="total">(25)</span>
        .desc Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил, что он у себя в постели превратился в страшное насекомое. Лежа на панцирнотвердой спине, он видел, стоило ему приподнять голову, свой коричневый, выпуклый, разделенный дугообразными чешуйками живот, на верхушке которого еле держалось готовое вот-вот окончательно сползти одеяло.
      .column
        .lead
          .image: img(src="images/content/catalog-caterogies/level-2-2.png" alt="")
          .links
            .title: a(href="#") <span class="label">Угловые</span> <span class="total">(25)</span>
        .desc Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил, что он у себя в постели превратился в страшное насекомое. Лежа на панцирнотвердой спине, он видел, стоило ему приподнять голову, свой коричневый, выпуклый, разделенный дугообразными чешуйками живот, на верхушке которого еле держалось готовое вот-вот окончательно сползти одеяло.
      .column
        .lead
          .image: img(src="images/content/catalog-caterogies/level-2-3.png" alt="")
          .links
            .title: a(href="#") <span class="label">Из искусственного камня</span>  <span class="total">(25)</span>
        .desc Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил, что он у себя в постели превратился в страшное насекомое. Лежа на панцирнотвердой спине, он видел, стоило ему приподнять голову, свой коричневый, выпуклый, разделенный дугообразными чешуйками живот, на верхушке которого еле держалось готовое вот-вот окончательно сползти одеяло.
      .column
        .lead
          .image: img(src="images/content/catalog-caterogies/level-2-4.png" alt="")
          .links
            .title: a(href="#") <span class="label">Преимум</span> <span class="total">(25)</span>
        .desc Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил, что он у себя в постели превратился в страшное насекомое. Лежа на панцирнотвердой спине, он видел, стоило ему приподнять голову, свой коричневый, выпуклый, разделенный дугообразными чешуйками живот, на верхушке которого еле держалось готовое вот-вот окончательно сползти одеяло.
      .column
        .lead
          .image: img(src="images/content/catalog-caterogies/level-2-5.png" alt="")
          .links
            .title: a(href="#") <span class="label">Под столешницу</span> <span class="total">(25)</span>
        .desc Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил, что он у себя в постели превратился в страшное насекомое. Лежа на панцирнотвердой спине, он видел, стоило ему приподнять голову, свой коричневый, выпуклый, разделенный дугообразными чешуйками живот, на верхушке которого еле держалось готовое вот-вот окончательно сползти одеяло.
    .m_seo-text
      h4 Пример SEO текста
      p Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил, что он у себя в постели превратился в страшное насекомое. Лежа на панцирнотвердой спине, он видел, стоило ему приподнять голову, свой коричневый, выпуклый, разделенный дугообразными чешуйками живот, на верхушке которого еле держалось готовое вот-вот окончательно сползти одеяло.
      p Его многочисленные, убого тонкие по сравнению с остальным телом ножки беспомощно копошились у него перед глазами. «Что со мной случилось?» – подумал он. Это не было сном. Его комната, настоящая, разве что слишком маленькая, но обычная комната, мирно покоилась в своих четырех хорошо знакомых стенах. Над столом, где были разложены распакованные образцы сукон – Замза был коммивояжером, – висел портрет, который он недавно вырезал из иллюстрированного журнала и вставил в красивую золоченую рамку.
    .m_top-items.bottom-viewed
      .wrapper
        .top-items-nav
          a(class="viewed current" href="#") Ранее вы смотрели
          a(class="top" href="#") Лучшие предложения
        .top-items-loader
          span
          span
          span
        .top-items-content
          // Добавить класс к m_item для иконки
          // .m_item.icon-top  - Иконка "Хит продаж"
          // .m_item.icon-sale - Иконка "Скидка"
          // .m_item.icon-new  - Иконка "Новинка"
          .top-items-carousel-viewed.top-item-carousels.bottom.enabled
            - for (var x = 0; x < 15; x++)
              .slide
                include ../modules/item/m_item
          .top-items-carousel-top.top-item-carousels.bottom.disabled
            - for (var x = 0; x < 15; x++)
              .slide
                include ../modules/item/m_item