extends ../modules/layout/layout.jade

block title
  title Вопрос-ответ

block content
  main
    .m_breadcrumbs
      ul
        li: a(href="#") Главная
        li: a(href="#") Информация
        li: a(href="#") Вопрос-ответ
    .page-heading
      h2 Вопрос-ответ
    .main
      aside.sidebar
        .m_sidebar-nav
          ul
            li: a(href="#"): span Условия оплаты
            li: a(href="#"): span Доставка
            li: a(href="#"): span Гарантия на товар
            li: a(class="current" href="#"): span Вопрос-ответ
      section.content
        article
          .m_detail-filters
            .detail-filters-header
              .toggle: a(href="#"): span Задать вопрос
              .desc Вы можете задать любой вопрос на тему нашей продукции или работы интернет магазина.
            .detail-filters-body
              .ask-form
                form
                  .columns
                    .form-row
                      .input: input(type="text" placeholder="Имя")
                      .input: input(type="email" placeholder="Email")
                    .form-row
                      textarea(placeholder="Сообщение")
                  .form-row
                    .conditions
                      label
                        input(type="checkbox" name="cond-1" checked value="1")
                        i.icon
                        i.label Я принимаю условия <a href="#">пользовательского соглашения</a> и даю свое согласие группе компаний «СЛС» на обработку моих персональных данных, в соответствии с Федеральным законом от 27.07.2006 года №152-ФЗ «О персональных данных», на условиях и для целей, определенных <a href="#">политикой конфиденциальности</a>.
                  .form-row
                    button(class="submit" type="submit") Отправить
          h3 Вопросы о доставке
          .m_faq
            .item
              .header: span Как осуществляется доставка в регионы?
              .body Товары нашего магазина доставляют покупателям транспортные компании: Россия — EMS Почта России, СПСР-экспресс, DHL; Белоруссия — M@M; Украина — Новая Почта.
            .item
              .header: span Возможен ли самовывоз заказанного товара?
              .body Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
            .item
              .header: span Как расчитать стоимость доставки в Магадан?
              .body Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
          h3 Прочие вопросы
          .m_faq
            .item
              .header: span Подскажите какой режим работы телефонного консультанта?
              .body Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.