extends ../modules/layout/layout.jade

block title
  title Условия оплаты

block content
  main
    .m_breadcrumbs
      ul
        li: a(href="#") Главная
        li: a(href="#") Информация
        li: a(href="#") Условия оплаты
    .page-heading
      h2 Условия оплаты
    .main
      aside.sidebar
        .m_sidebar-nav
          ul
            li: a(class="current" href="#"): span Условия оплаты
            li: a(href="#"): span Доставка
            li: a(href="#"): span Гарантия на товар
            li: a(href="#"): span Вопрос-ответ
      section.content
        article
          p Для Вас мы можем предложить следующие виды оплаты товаров и услуг:
          h3 Оплата наличными
          p Оплата наличными в офисе компании
          p По договоренности, в любом удобном для клиента месте Москвы и МО для заключения договора и оплаты  продукции. <br>Менеджеру или водителю на объекте, при доставке товара.
          h3 Оплата через системы сервис банкинга
          h3 Оплата любыми видами пластиковых карт
          h3 Безналичный расчет
          p Для оплаты по безналичному расчету необходимо прислать реквизиты покупателя на адрес электронной почты: <a href="#">mailbox@paramita.ru</a>
          p Все необходимые первичные документы выдаются при подписании акта приемки товара с передачей товара.