extends ../modules/layout/layout.jade

block title
  title Комплектом дешевле

block content
  .m_graph-heading
    .image(style="background-image: url('images/news-item-bg.jpg')")
    .text
      .wrapper
        .m_breadcrumbs
          ul
            li: a(href="#") Главная
            li: a(href="#") Акции и скидки
            li: a(href="#") Комплектом дешевле
        .vertical-outer
          .vertical-inner
            .page-heading
              h2 Комплектом дешевле
            p Промо-акция — это разновидность рекламной активности, при которой происходит прямой контакт с потребителем товаров или услуг. Во время этого контакта потенциальный покупатель получает информацию о товаре, услуге, условиях акций и скидках.
  main
    .main
      section.content
        article.center
          p.lead-paragraph Промо-акция — это разновидность рекламной активности, при которой происходит прямой контакт с потребителем товаров или услуг. Во время этого контакта потенциальный покупатель получает информацию о товаре, услуге, условиях акций и скидках.
          p Общая цель проведения промо-акций всегда одна — увеличение продаж. Но достигаться эта цель может путем реализации различных задач. В зависимости от поставленных задач, выбирается механика планируемой промо-акции.
        .m_catalog-items.full-width
          .page-heading
            h2.center Товары, участвующие в акции
          .list
            - for (var x = 0; x < 15; x++)
              .item
                include ../modules/item/m_item
