extends ../modules/layout/layout.jade

block title
  title Услуги

block content
  main
    .m_breadcrumbs
      ul
        li: a(href="#") Главная
        li: a(href="#") Услуги
    .page-heading
      h2 Услуги
    .main
      aside.sidebar.right
        .m_sidebar-ask
          .action
            a(class="call-popup" href="#popup-question"): span Задать вопрос
          .desc Наши специалисты с радостью ответят на любой интересующий по нашим услугам вопрос.
      section.content
        article
          p.lead-paragraph Монтаж сантехники предполагает установку нового сантехнического оборудования — унитазов, смесителей, душевых кабин. Качественная установка сантехники должна производиться исключительно профессионалами, только так вы сможете себя от поломок оборудования, которые могут случиться при самостоятельном монтаже.
        .m_media
          .m_item-media.horizontal
            .image: a(href="#" style="background-image: url('images/content/media/1.png')")
            .details
              .title: a(href="#") Установка сантехники
              .desc Монтаж сантехники предполагает установку нового сантехнического оборудования — унитазов, смесителей, душевых кабин. Качественная установка сантехники должна производиться исключительно профессионалами, только так вы сможете себя от поломок оборудования, которые могут случиться при самостоятельном монтаже. Монтаж сантехники предполагает установку нового сантехнического оборудования — унитазов, смесителей, душевых кабин. Качественная установка сантехники должна производиться исключительно профессионалами, только так вы сможете себя от поломок оборудования, которые могут случиться при самостоятельном монтаже.
              .more: a(href="#"): span Подробнее
          .m_item-media.horizontal
            .image: a(href="#" style="background-image: url('images/content/media/2.png')")
            .details
              .title: a(href="#") Установка сантехники
              .desc Монтаж сантехники предполагает установку нового сантехнического оборудования — унитазов, смесителей, душевых кабин. Качественная установка сантехники должна производиться исключительно профессионалами, только так вы сможете себя от поломок оборудования, которые могут случиться при самостоятельном монтаже. Монтаж сантехники предполагает установку нового сантехнического оборудования — унитазов, смесителей, душевых кабин. Качественная установка сантехники должна производиться исключительно профессионалами, только так вы сможете себя от поломок оборудования, которые могут случиться при самостоятельном монтаже.
              .more: a(href="#"): span Подробнее
          .m_item-media.horizontal
            .image: a(href="#" style="background-image: url('images/content/media/3.png')")
            .details
              .title: a(href="#") Установка сантехники
              .desc Монтаж сантехники предполагает установку нового сантехнического оборудования — унитазов, смесителей, душевых кабин. Качественная установка сантехники должна производиться исключительно профессионалами, только так вы сможете себя от поломок оборудования, которые могут случиться при самостоятельном монтаже. Монтаж сантехники предполагает установку нового сантехнического оборудования — унитазов, смесителей, душевых кабин. Качественная установка сантехники должна производиться исключительно профессионалами, только так вы сможете себя от поломок оборудования, которые могут случиться при самостоятельном монтаже.
              .more: a(href="#"): span Подробнее
          .m_item-media.horizontal
            .image: a(href="#" style="background-image: url('images/content/media/4.png')")
            .details
              .title: a(href="#") Установка сантехники
              .desc Монтаж сантехники предполагает установку нового сантехнического оборудования — унитазов, смесителей, душевых кабин. Качественная установка сантехники должна производиться исключительно профессионалами, только так вы сможете себя от поломок оборудования, которые могут случиться при самостоятельном монтаже. Монтаж сантехники предполагает установку нового сантехнического оборудования — унитазов, смесителей, душевых кабин. Качественная установка сантехники должна производиться исключительно профессионалами, только так вы сможете себя от поломок оборудования, которые могут случиться при самостоятельном монтаже.
              .more: a(href="#"): span Подробнее
          .m_item-media.horizontal
            .image: a(href="#" style="background-image: url('images/content/media/1.png')")
            .details
              .title: a(href="#") Установка сантехники
              .desc Монтаж сантехники предполагает установку нового сантехнического оборудования — унитазов, смесителей, душевых кабин. Качественная установка сантехники должна производиться исключительно профессионалами, только так вы сможете себя от поломок оборудования, которые могут случиться при самостоятельном монтаже. Монтаж сантехники предполагает установку нового сантехнического оборудования — унитазов, смесителей, душевых кабин. Качественная установка сантехники должна производиться исключительно профессионалами, только так вы сможете себя от поломок оборудования, которые могут случиться при самостоятельном монтаже.
              .more: a(href="#"): span Подробнее
        .m_paginations
          ul
            li: button(class="prev" type="button"): i
            li: a(href="#") 1
            li: a(href="#") 2
            li: a(href="#") 3
            li: a(href="#") 4
            li.current: a(href="#") 5
            li: a(href="#") 6
            li: a(href="#") 7
            li: a(href="#") 8
            li: a(href="#") 9
            li: a(href="#") 10
            li: button(class="next" type="button"): i

