.m_comment-item
  position relative
  padding 20px
  background #fff
  border 1px solid #eeefef
  margin-bottom 20px
  box-shadow 1px 1px 4px rgba(0,0,0,.1)
  @media LG
    margin-bottom 30px
  .info
    .username,
    .post-date
      display inline-block
      vertical-align middle
    .username
      bold()
      font-size 16px
      margin-right 10px
    .post-date
      color #999
      font-size 14px
  .post
    color #555555
    font-size 14px
    line-height 22px
    margin-top 15px
