.m_graph-heading
  position relative
  text-align center
  color #fff
  padding-bottom 80px
  padding-top 80px
  margin-bottom 20px
  @media MD
    padding 130px 0
  p
    max-width 850px
    margin-left auto
    margin-right auto
  .page-heading h2
    padding-right 0
    margin-bottom 15px
  .page-heading h2,
  .m_breadcrumbs ul li a
    color #fff
  .m_breadcrumbs ul li:after
    opacity .4
  .m_breadcrumbs
    position absolute
    left 0
    top -80px
    width 100%
    text-align center
    @media MD
      top -130px

  .image
    position absolute
    left 0
    top 0
    width 100%
    height 100%
    z-index -1
    background-repeat no-repeat
    background-position 50%
    background-size cover