.m_header-cart
  button(class="h-close" type="button")
  .total-items
    .item
      .image: a(href="#"): img(src="images/content/cart/1.png" alt="")
      .desc
        .title: a(href="#") Душевая кабина Jacuzzi Frame
        .details
          .amt <span class="sum-value">6 299.10</span> x 1 шт.
          .sum 6 299.10
    .item
      .image: a(href="#"): img(src="images/content/cart/1.png" alt="")
      .desc
        .title: a(href="#") Душевая кабина Jacuzzi Frame
        .details
          .amt <span class="sum-value">6 299.10</span> x 1 шт.
          .sum 6 299.10
  .total-sum
    span.label Общая сумма:
    span.sum 12 598.20
  .action
    a(href="#") <i class="icon-details"></i> Перейти в корзину