.m_menu-dropdown
  .column
    .category
      .title: a(href="#") Кухонные мойки
      ul
        li: a(href="#") Подкатегория
        li: a(href="#") Подкатегория
        li: a(href="#") Подкатегория
        li: a(href="#") Подкатегория
        li: a(href="#") Подкатегория
        li: a(href="#") Подкатегория
        li: a(href="#") Подкатегория
        li: a(href="#") Подкатегория
        li: a(href="#") Подкатегория
    .category
      .title: a(href="#") Сместители
      ul
        li: a(href="#") Подкатегория
        li: a(href="#") Подкатегория
        li: a(href="#") Подкатегория
        li: a(href="#") Подкатегория
        li: a(href="#") Подкатегория
        li: a(href="#") Подкатегория
        li: a(href="#") Подкатегория
        li: a(href="#") Подкатегория
        li: a(href="#") Подкатегория
  .column
    .category
      .title: a(href="#") Ванны
      ul
        li: a(href="#") Подкатегория
        li: a(href="#") Подкатегория
        li: a(href="#") Подкатегория
    .category
      .title: a(href="#") Душевые кабины
    .category
      .title: a(href="#") Унитазы
    .category
      .title: a(href="#") Доп. категория
  .column
    .recommended
      .title Рекомендуем
      .m_item
        .image
          a(href="#"): img(src="images/content/item/1.png" alt="")
        .details
          .title: a(href="#") Душевая кабина Jacuzzi Frame
          .articul
            .label Артикул:
            .value 9448-2721254
          .produced
            .label Производитель:
            .value Jacuzzi
          .available В наличии
          .not-available Нет в наличии
          .price
            .old 15 000
            .current 12 450
          .action
            a(href="#") Купить