doctype html
html(lang="ru").no-js
  head
    block title
      title Default title
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="msapplication-tap-highlight" content="no")
    link(rel="icon" type="image/png" href="images/favicon.png")
    link(rel="stylesheet" href="css/plugins.css")
    link(rel="stylesheet" href="css/app.css")
    script(src="js/modernizr.js")
  body
    block settings
    block data
    include ../header/m_header
    // Main
    .container
      block content
    include ../footer/m_footer
    // Popups background layer
    .background-layer
    include ../popups/m_popups
    // JS
    script(src="js/jquery.min.js")
    script(src="js/plugins.js")
    script(src="js/app.js")