.m_rating
  margin 5px 0
  cursor default
  a
    display inline-block
    vertical-align middle
    width 17px
    height 16px
    sprite()
    background-position -300px -400px
    &.active
      background-position -350px -400px