.m_comments
  position relative
  .m_comments-post
    margin-top 30px
  .header
    overflow hidden
    margin-top 15px
    line-height 15px
    padding 10px 0
    margin-bottom 5px
    @media LG
      margin-bottom 0
      padding-bottom 5px
    .sort
      float left
      font-size 14px
      clearfix()
      @media screen and (min-width: 500px)
        width 100%
      @media SM
        line-height 27px
      > .label,
      .sort-by-price,
      .sort-by-rate
        @media screen and (min-width: 500px)
          float left
      .sort-by-rating
        @media screen and (min-width: 500px)
          float right
      .label
        display inline-block
        vertical-align middle
        color #999
        margin-right 10px
      a
        display inline-block
        vertical-align middle
        padding 0 5px
        color $red
        &:hover
          color #222
          span
            border-color #222
        span
          display inline-block
          vertical-align middle
          line-height 1
          border-bottom 1px dashed $red
        i
          display none
      .sort-by-rating
        color #999
        padding-top 10px
        @media screen and (min-width: 500px)
          padding-top 0
        @media SM
          margin-top -5px
        span,
        .m_rating
          display inline-block
          vertical-align middle
        span
          padding-right 5px