.m_menu-phone
  .item.dropdown
    .category: a(href="#") Каталог
    ul
      li: a(href="#") Кухонные мойки
      li: a(href="#") Смесители
      li: a(href="#") Ванны
      li: a(href="#") Душевые кабины
      li: a(href="#") Унитазы
      li: a(href="#") Доп. категория
  .item: .category: a(href="#") Акции
  .item.dropdown
    .category: a(href="#") Услуги
    ul
      li: a(href="#") Установка мойки
      li: a(href="#") Устранение протечек, засоров
      li: a(href="#") Сборка душевых кабин
      li: a(href="#") Сварочные работы
      li: a(href="#") Любой материал раздолбить
  .item: .category: a(href="#") О компании
  .item: .category: a(href="#") Контакты
  .item: .category: a(href="#") Условия оплаты
  .item: .category: a(href="#") Доставка
  .item: .category: a(href="#") Вопрос-ответ
  .item: .category: a(href="#") Отзывы