.m_item
  .image
    a(href="#"): img(src="images/content/item/1.png" alt="")
  .details
    .title: a(href="#") Душевая кабина Jacuzzi Frame
    .articul
      .label Артикул:
      .value 9448-2721254
    .produced
      .label Производитель:
      .value Jacuzzi
    .status-compare
      .status
        .available В наличии
        .not-available Нет в наличии
      .compare
        a(href="#") Сравнить
    .price
      .old 15 000
      .current 12 450
  .bottom
    .total-items
      button(type='button' value='–' class='qtyminus' field='quantitytop1'+x)
      input(type='text' name='quantitytop1'+x value='1' class='qty')
      button(type='button' value='+' class='qtyplus' field='quantitytop1'+x)
    .add-to-cart
      a(href="#")
        span Купить