.m_item
  position relative
  background #fff
  box-shadow 0 2px 7px #e5eaeb
  border solid 1px #eeefef
  border-radius $radius
  padding 15px
  padding-bottom 50px
  &:after
    position absolute
    right 10px
    top 10px
    width 50px
    height 50px
    color #fff
    font-size 9px
    text-transform uppercase
    text-align center
    border-radius 50%
    line-height 50px
  &.icon-new:after
    content 'Новинка'
    background $blue
  &.icon-sale:after
    content 'Скидка'
    background #9d0ee0
  &.icon-top:after
    content 'Хит продаж'
    line-height 1
    padding-top 15px
    background #f3b838
  .image
    height 200px
    line-height 200px
    text-align center
    margin-left -15px
    margin-right -15px
    margin-top -15px
    a
      position relative
      display block
      border-bottom none !important
      &:after
        content ''
        position absolute
        left 0
        top 0
        width 100%
        height 100%
        opacity 0
        anim()
        background #222
      &:hover
        &:after
          opacity .2
      img
        display inline-block
        vertical-align middle
        max-width 100%
        max-height 100%
  .details
    padding-top 15px
    .title
      margin-bottom 15px
      a
        font-size 15px
        border none !important
        line-height 1.2 !important
        display inline-block
        vertical-align middle
        color #000
        text-transform uppercase
        bold()
        &:hover
          color $red
          border-color transparent
    .articul,
    .produced
      font-size 14px
      .label, .value
        display inline-block
        vertical-align middle
        color #555555
    .produced
      margin-bottom 15px
    .status-compare
      overflow hidden
      .status
        float left
      .compare
        float right
        display none
        a
          anim()
          position relative
          color $red
          font-size 14px
          &:after
            anim()
            content ''
            width: 18px;
            height: 20px;
            sprite()
            position absolute
            left -25px
            top 50%
            margin-top -10px
            background-position -400px -50px
            opacity .4
          &:hover
            color #222
            text-decoration none
            &:after
              opacity 1
    .available,
    .not-available
      font-size 14px
    .available
      color #16a120
    .not-available
      color $red
    .price
      margin-top 15px
      margin-bottom 15px
      .old, .current
        display inline-block
        vertical-align middle
        line-height 22px
        position relative
        &:after
          content ' руб.'

      .old
        text-decoration line-through
        color #999
        font-size 14px
        margin-right 15px
      .current
        bold()
        font-size 17px
  .bottom
    clearfix()
    position absolute
    left 0
    bottom 0
    width 100%
    border-top 1px solid #ebebeb
    height 46px
    .total-items
      float left
      width 120px
      height 45px
      text-align center
      line-height 43px
      overflow hidden
      input, button
        float left
      .qty
        width 35px
        height 35px
        margin 5px 0
        text-align center
        font-size 16px
        color #555555
        background #fff
        border-radius $radius
        border none
      .qtyminus,
      .qtyplus
        width 35px
        height 45px
        color #555
        background none
        border none
        color #999999
        font-weight bold
        font-size 0
        text-indent -9999px
        position relative
        &:after
          content ''
          background-image: url('../images/sprite.png');
          background-repeat no-repeat
          width: 16px;
          height: 2px;
          position absolute
          left 50%
          top 50%
          margin-left -8px
          margin-top -1px
      .qtyminus
        &:after
          background-position -250px -100px
        &:hover:after
          background-position -300px -100px
      .qtyplus
        &:after
          height 16px
          margin-top -8px
          background-position -350px -100px
        &:hover:after
          background-position -400px -100px
    .add-to-cart
      float right
      height 100%
      width 45px
      @media screen and (min-width: 420px)
        width 135px
        text-align center
        line-height 42px
      @media screen and (min-width: 481px)
        width 45px
      @media screen and (min-width: 640px)
        width 135px
      @media screen and (min-width: 769px)
        width 45px
      @media screen and (min-width: 1200px)
        width 125px
      a
        display block
        width 100%
        height 100%
        background $yellow
        position relative
        &:after
          content ''
          background: url('../images/sprite.png') no-repeat -150px -100px;
          width: 16px;
          height: 16px;
          position absolute
          left 50%
          top 50%
          margin-left -(@width/2)
          margin-top -(@height/2)
          @media screen and (min-width: 420px)
            left 30px
            margin-left 0
          @media screen and (min-width: 481px)
            left 50%
            margin-left -8px
          @media screen and (min-width: 640px)
            left 30px
            margin-left 0
          @media screen and (min-width: 769px)
            left 50%
            margin-left -8px
          @media screen and (min-width: 1200px)
            left 25px
            margin-left 0
        &:hover
          background #b70b1a
          &:after
            background-position -200px -100px
          span
            color #fff
        span
          display none
          vertical-align middle
          color #222222
          padding-left 25px
          @media screen and (min-width: 420px)
            display inline-block
          @media screen and (min-width: 481px)
            display none
          @media screen and (min-width: 640px)
            display inline-block
          @media screen and (min-width: 769px)
            display none
          @media screen and (min-width: 1200px)
            display inline-block