.m_seo-text
  border-top 1px solid #eeefef
  padding 25px 0
  @media LG
    padding 45px 0
  h4
    margin-bottom 20px
  p
    font-size 14px
    line-height 24px
    color #555555
    &:last-child
      margin-bottom 0
